@charset "UTF-8";

/*////// General Settings //////*/

/*/// Framework ///*/


iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */ 
    width: 100vw;
}

.shiny-app-frame{
    left: 0;
    bottom: 0;
    right: 0;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	background-color: #fafafa;
	color: #363229;
}

section{
	display: block;
	min-height: 100%;
	width: 100%;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10vh;
	padding-bottom: 10vh;
	margin-bottom: 0;
}

@media (max-width: 375px){
.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}
}


.col_container_subtitle{
	display: inline-flex; 
	align-items: center;
	width: 100%;
}

.col_container_subtitle h2{
	min-width: 20%;
}

.col_container_subtitle p{
	width: 90%;
	margin-left: 10%;
	text-align: right;
}

.col_container {
    display: table; /* Make the container element behave like a table */
	width: 100%;
	min-height: 80vh;
	margin:0;
	padding:0;
}

.col_container_left {
    display: table; /* Make the container element behave like a table */
    width: 50%;
	min-height: 80vh;
}


.col{
    display: table-cell;/* Make elements inside the container behave like table cells */
	vertical-align: middle;
	width: 30%;
}


/*/// Typography ///*/

a{
	color: #363229;
	text-decoration:none;
}

a:hover {
	color: #363229;
}

a:visited {
	color: #363229;
}



h1 {
	color: #363229;
	font-size: 5em;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 1em;
}


h2 {
	
	text-transform: uppercase;
}


h3 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-style: normal;
	font-weight: 400;
}


h4 {
	font-size: 1.5em;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	letter-spacing: 2px;
	line-height: 1em;
}

p{
	font-size: 14pt;
	font-weight:normal;
}



@media (max-width: 765px) {
h1{ font-size: 4em;}}

@media (max-width: 550px) {
h1{ font-size: 2.5em;}}


@media (max-width: 375px) {
h1{ font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
p{font-size: 12pt;}}



/*use for ligth fonts */
.dark_background {
	color: #fafafa;
}

.dark_background h1{
	color: #fafafa;
}

.dark_background a{
	color: #fafafa;
}

.dark_background a:hover{
	color: #fafafa;
}

.dark_background a:visited {
	color: #fafafa;
}



/* button */

button{
	background: rgba(0,0,0,0);
	border: solid 2px #fefefe;
	padding: 1em;
	margin-right: 0.5em;
}

button:hover{
	background: #fefefe;
	color: #363229 !important;
	padding: 1em;
	margin-right: 0.5em;
}

.btn {
	vertical-align: middle;
	padding: 10px 10px;
	width:250px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-three{
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}

.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 3px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}


/* horizontal buttons */

.w3-bar {
	text-align: center;
	margin-top: 10%;
}

.w3-bar-item {
	background: none;
	border: none;
	margin: 0% 2%;
}

.w3-button{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
}

.w3-button:hover{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-decoration: underline;
}

.w3-red{
	text-decoration: underline;
}

/*//// Navigation Menu/////*/

header {
	min-height: 100vh;
	margin-bottom: 20px;
}

nav{
	text-align: right;
}

.primary_header {
	width: 90%;
	padding-top: 50px;
	clear: left;
}

.primary_header ul li {
	list-style: none;
	display: inline-block;
	margin-right: auto;
	margin-left: 4em;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight:400;
	letter-spacing: 1px;
	text-align: center;
	width: auto;
	transition: all 0.3s linear;
}
.primary_header ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}



@media (max-width: 768px) {
.primary_header ul li {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
}
.container .primary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
}
}



.title_container {
    display: table; /* Make the container element behave like a table */
	width: 100%;
	min-height: 70vh;
}


/*//// Picture Menus/////*/


.row {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}

.column{
	width: 100%;
	margin: 0;
	padding: 0;
}

@media (max-width: 768px){
.explore_menu {
	width: 100%;
    vertical-align: middle;
	min-height: auto;
}

}

.box_text {
	padding:10%;
	min-height: 60vh;
}



.stories_menu_link {
	width: 50%;
	display: inline-block;
	margin: 0%;}

@media (max-width: 768px){
.stories_menu_link {
	width: 50%;
	display: inline-block;
	margin: 0%;}
}

.stories_menu_image {
	color: #fafafa;
	min-height: 40vh;
	text-align: center;
	margin: 0;
}

.stories_menu_image h3{
	text-align: center;
	margin: 0;
	line-height: 40vh;
}
.stories_menu_image p{
	opacity: 0;
	margin: 0;
}

.stories_menu_image:hover{
	box-shadow:0px 0px 0px 10px rgba(255,255,255,0.6) inset;
}

.stories_menu_image:hover p{
	opacity: 1;
}



/*//// Section Images/////*/

	
#hubbard{
	background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), 
		url("images/larch.jpg");
}


#acidtitle {
background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), url("images/acidrain.jpg");
background-size: cover;
color: #fafafa;
}

#explore_time {
	background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), url("images/explore_time.png");
	background-size: cover;
	color: #fafafa;
}


#explore_space {
	background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), url("images/explore_space.png");
	background-size: cover;
	color: #fafafa;
}

#story_dilutification{
	background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), url("images/dilutification.jpg");
	background-size: cover;
	color: #fafafa;}

#story_deforestation {
	background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), url("images/deforestation.jpg");
	background-size: cover;
	color: #fafafa;}


/* Stories Images */
.acidrain {
	background: linear-gradient(
		rgba(25, 25, 25, 0.15), 
		rgba(25, 25, 25, 0.15)), 
		url("images/acidrain.jpg");
	background-size: cover;
}

.deforestation {
	background: linear-gradient(
		rgba(25, 25, 25, 0.15), 
		rgba(25, 25, 25, 0.15)), 
		url("images/deforestation.jpg");
	background-size: cover;	
}

.icestorm {
	background: linear-gradient(
		rgba(25, 25, 25, 0.35), 
		rgba(25, 25, 25, 0.35)), 
		url("images/icestorm.jpg");
	background-size: cover;
}

.dilutification {
	background: linear-gradient(
		rgba(25, 25, 25, 0.15), 
		rgba(25, 25, 25, 0.15)), 
		url("images/dilutification.jpg");
	background-size: cover;
}


/* exploratory colors */
.exploretime {
	background: #34454F
}

.explorechemistry {
	background: #597F96;
}

/*// color /*/

.blue{
	background-color: #BAE4E4;
}


/* about us */


.list {
  	display: flex;
  	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	padding-top: 5%;
	margin: 0;
}


.list-item {
	display: flex; 
    width: 32%;
	padding: 0.2em;
  
}

@media (max-width: 765px) {
  .list-item {
	display: flex; 
	align-content: center;
	padding: 0.2em;
    width: 45%;
  }
}




.list-content {
   	display: flex;
   	flex-direction: column;
   	background-color: #fff;
  	padding: 1em;
   	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;

}

.list-content h4{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	z-index: 100;
	opacity: 0;
	margin: 0;
	margin-top: 30%;
	
}

.list-content hr{
	border-style: solid;
	border-color: #fefefe;
	width: 40%;
	z-index: 100;
	opacity: 0;
}

.list-content p{
	color: #ffffff;
	text-align: center;
	font-size: 0.8em;
	z-index: 100;
	opacity: 0;
}


.list-content:hover h4, .list-content:hover p, .list-content:hover hr{
	opacity: 1;
}


.overlay {
  position: relative;
}

.overlay:after {
  	position: absolute;
 	content:"";
 	top:0;
  	left:0;
 	width:100%;
 	height:100%;
  	opacity:0;
	transition: all 0.3s linear;
	color: #ffffff;
}

.overlay:hover:after  {
  opacity: .5;
}

.green:after {
  background-color: #FFA72F;
}


/*///// FOOTER /////*/
	
.footer {
	position:relative;
  	width:100%;
  	height:60%;  /* Height of the footer */
 	background:#333333;
	text-align: center;
	margin-top: 10%;
}

.footer h3{
	text-align: center;
	line-height: 1.5;
	
}

.footer_menu li {
	list-style: none;
	margin-left: 15px;
	margin-right:15px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight:400;
	letter-spacing: 1px;
	transition: all 0.3s linear;
}
.footer_menu ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}
.left_col {
	width: 500px;
}
