@charset "UTF-8";

/*////// General Settings //////*/

/*/// Framework ///*/


iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */ 
    width: 100vw;
}


body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	background-color: #fafafa;
	color: #363229;
}

section{
	display: block;
	min-height: 100%;
	width: 100%;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

@media (max-width: 375px){
.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}
}


.col_container_subtitle{
	display: inline-flex; 
	align-items: center;
	width: 100%;
}

.col_container_subtitle h2{
	min-width: 20%;
}

.col_container_subtitle p{
	width: 90%;
	margin-left: 10%;
	text-align: right;
}

.col_container {
    display: table; /* Make the container element behave like a table */
	width: 100%;
	min-height: 80vh;
}

.col_container_left {
    display: table; /* Make the container element behave like a table */
    width: 50%;
	min-height: 80vh;
}


.col{
    display: table-cell;/* Make elements inside the container behave like table cells */
	vertical-align: middle;
	width: 30%;
}


/*/// Typography ///*/

a{
	color: #363229;
	text-decoration:none;
}

a:hover {
	color: #363229;
}

a:visited {
	color: #363229;
}



h1 {
	color: #363229;
	font-size: 5em;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 1em;
}


h2 {
	
	text-transform: uppercase;
}


h3 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-style: normal;
	font-weight: 400;
}


h4 {
	font-size: 1.5em;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	letter-spacing: 2px;
	line-height: 1em;
}

p{
	font-size: 14pt;
}


@media (max-width: 765px) {
h1{ font-size: 4em;}}

@media (max-width: 550px) {
h1{ font-size: 2.5em;}}


@media (max-width: 375px) {
h1{ font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
p{font-size: 12pt;}}



/*use for ligth fonts */
.dark_background {
	color: #fafafa;
}

.dark_background h1{
	color: #fafafa;
}

.dark_background a{
	color: #fafafa;
}

.dark_background a:hover{
	color: #fafafa;
}

.dark_background a:visited {
	color: #fafafa;
}



/* button */
.btn {
	vertical-align: middle;
	padding: 10px 10px;
	width:250px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-three{
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}

.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 3px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}


/* horizontal buttons */

.w3-bar {
	text-align: center;
	margin-top: 10%;
}

.w3-bar-item {
	background: none;
	border: none;
	margin: 0% 2%;
}

.w3-button{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
}

.w3-button:hover{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-decoration: underline;
}

.w3-red{
	text-decoration: underline;
}

/*//// Navigation Menu/////*/

header {
	min-height: 100vh;
	margin-bottom: 5%;
}

nav{
	text-align: right;
}

.primary_header {
	width: 90%;
	padding-top: 50px;
	clear: left;
}

.primary_header ul li {
	list-style: none;
	display: inline-block;
	margin-right: auto;
	margin-left: 4em;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight:400;
	letter-spacing: 1px;
	text-align: center;
	width: auto;
	transition: all 0.3s linear;
}
.primary_header ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}



@media (max-width: 768px) {
.primary_header ul li {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
}
.container .primary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
}
}



.title_container {
    display: table; /* Make the container element behave like a table */
	width: 100%;
	min-height: 70vh;
}


/*//// Picture Menus/////*/


.explore_menu {
	width: 50%;
	display: inline-flex;
    align-items: center;
	min-height: inherit;
}


@media (max-width: 768px){
.explore_menu {
	width: 100%;
    vertical-align: middle;
	min-height: auto;
}

}

.box_text {
	margin: 10%;
	min-height: 30vh;
}

.stories_menu_link {
	width: 25%;
	display: inline-block;
	margin: 0%;}

@media (max-width: 768px){
.stories_menu_link {
	width: 50%;
	display: inline-block;
	margin: 0%;}
}

.stories_menu_image {
	color: #fafafa;
	min-height: 80vh;
	text-align: center;
	margin: 0%;
}

.stories_menu_image h3{
	line-height: 1em;
	text-align: center;
	position:relative;
	top: 40vh;
	left: -10px;
	margin: 0;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.stories_menu_image p{
	opacity: 0;
	margin: 0;
}

.stories_menu_image:hover{
	box-shadow:0px 0px 0px 10px rgba(255,255,255,0.6) inset;
}

.stories_menu_image:hover p{
	opacity: 1;
}



/*//// Section Images/////*/

	
#hubbard{
	background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), 
		url("images/larch.jpg");
}


#acidtitle {
background: linear-gradient(
		rgba(25, 25, 25, 0.45), 
		rgba(25, 25, 25, 0.45)), url("images/acidrain_title.jpg");
background-size: cover;
color: #fafafa;
}


/* Stories Images */
.acidrain {
	background: linear-gradient(
		rgba(25, 25, 25, 0.15), 
		rgba(25, 25, 25, 0.15)), 
		url("images/acidrain.gif");
	background-size: cover;
}

.deforestation {
	background: linear-gradient(
		rgba(25, 25, 25, 0.15), 
		rgba(25, 25, 25, 0.15)), 
		url("images/deforestation.gif");
	background-size: cover;	
}

.icestorm {
	background: linear-gradient(
		rgba(25, 25, 25, 0.35), 
		rgba(25, 25, 25, 0.35)), 
		url("images/icestorm.gif");
	background-size: cover;
}

.dilutification {
	background: linear-gradient(
		rgba(25, 25, 25, 0.15), 
		rgba(25, 25, 25, 0.15)), 
		url("images/dilutification.gif");
	background-size: cover;
}


/* exploratory colors */
.exploretime {
	background: #34454F
}

.explorechemistry {
	background: #597F96;
}

/*// color /*/

.blue{
	background-color: #BAE4E4;
}


/*///// FOOTER /////*/
	
.footer {
	position:relative;
  	width:100%;
  	height:60%;  /* Height of the footer */
 	background:#333333;
	text-align: center;
	margin-top: 10%;
}

.footer h3{
	text-align: center;
	line-height: 1.5;
	
}

.footer_menu li {
	list-style: none;
	margin-left: 15px;
	margin-right:15px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight:400;
	letter-spacing: 1px;
	transition: all 0.3s linear;
}
.footer_menu ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}
.left_col {
	width: 500px;
}
